---
import type { Props } from '@astrojs/starlight/props';
---

<a href="https://github.com/cva-plugin/cva" target="_blank"><img src="/github-icon.svg" height="15px"></a>
<a href="https://discord.gg/W3MfaawZeH" target="_blank"><img src="/discord-icon.svg" height="15px"></a>
<a href="https://x.com/cva_design" target="_blank"><img src="/x-icon.svg" height="15px"></a>
<a href="https://medium.com/cva-design" target="_blank"><img src="/medium-icon.svg" height="15px"></a>
<a href="https://www.threads.net/@cva_design" target="_blank"><img src="/threads-icon.svg" height="15px"></a>
